@import "../../styles/Variables.scss";

.container {

  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  font-weight: $light;
  font-family: Poppins;
  background-color: none;
  color: $primaryBlue;

  .itemsContainer {
    
    display: flex;
    justify-content: flex-start;
    h3 {
      font-family: Poppins;
      margin-left: 0.5rem;
      font-size: 1rem;
    }
  }
  &:hover {
    color: $secondaryCyan;
    text-decoration: none;
  }
}
