@import "./Variables.scss";



body {
    height: 100%;
    margin: 0
  
  }

  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  

  .status {
    font-size: 8px;
  }

  .pending {
    @extend .status;
    color: rgb(247, 51, 51);
  }

  .progress {
    @extend .status;
    color: rgb(211, 139, 6);
  }

  .finished {
    @extend .status;
    color: rgb(49, 184, 49);
  }