// FONT-FAMILY
@import url("https://fonts.googleapis.com/css?family=Poppins|Urbanist");

$fontFamily: "Poppins", sans-serif;
$fontUrbanist: "Urbanist", sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extraBold: 900;

// PALETTE

$primaryBlue: #4299E1;
$primaryCyan: #0987a0;
$secondaryCyan: #c4f1f9;
$blueDisabled: #1a365d;

$white: #ffffff;
$black: #000000;
$grey:#4A5568;

$red: #e53e3e;
$succes: #48bb78;
$yellow: #f6e05e;

// BREAKPOINTS

$breakpoints: (
  "xs": 320,
  "sm": 600,
  "md": 1024,
  "lg": 1280,
  "xl": 1440,
) !default;

// RESPONSIVE

@mixin responsive($breakpoint: "lg", $type: "max") {
  @if map-has-key($breakpoints, $breakpoint) {
    @if $type == "min" {
      @media (min-width: map-get($breakpoints, $breakpoint) + "px") {
        @content;
      }
    } @else {
      @media (max-width: map-get($breakpoints, $breakpoint) - 1 + "px") {
        @content;
      }
    }
  }
}

// MIXIN

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

@mixin container {
  max-width: 1280px;
  margin: 0 auto;
  @content;
}

@mixin btn_shadows {
  &:hover {
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  }
  &:active {
    -webkit-box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
  }
  @content;
}
